.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.app-heading {
  font-family: Ace Sans;
  color: #fff;
  font-size: 26px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .app-heading {
    font-size: 38px;
  }
}

.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-label {
  font-family: Roboto;
  color: #999;
  font-size: 20px;
  margin: 6px;
}

.file-input {
  display: none;
}

.upload-btn {
  background-color: #b314e3;
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  margin: 12px;
  padding: 6px 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.upload-btn:hover {
  background-color: #7c0d9e;
}

.text-analyser-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .text-analyser-container {
    flex-direction: row;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  background-color: #e8f0fd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section-container {
    width: calc(100% / 3);
  }
}

.section-heading {
  font-family: Roboto;
  font-size: 22px;
  text-align: center;
}

.separator {
  margin: 0;
  border: 0.5px solid #cccccc;
}

.column-heading-container {
  display: flex;
}

.column-heading {
  font-family: Roboto;
  background-color: #acb4c1;
  text-align: center;
  margin: 0;
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  border-radius: 8px;
  height: 260px;
}

.error-msg {
  font-family: Roboto;
  color: red;
  text-align: center;
  font-size: 18px;
}

.custom-upload {
  background-color: #e5e5e5;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.custom-upload:hover {
  background-color: #cfcccc;
}

.selected-file-name {
  font-family: Roboto;
  color: #999;
  font-size: 16px;
  margin: 4px;
}

@media screen and (min-width: 768px) {
  .selected-file-name {
    font-size: 18px;
  }
}

.search-input-container {
  display: flex;
  margin: 12px;
}

.search-input {
  font-family: sans-serif;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 2px;
  border: none;
  outline: none;
}

.search-result-container {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  margin-bottom: 12px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .search-result-container {
    width: 50%;
  }
}

.search-result-word {
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  flex-shrink: 0;
  width: 50%;
}

.search-result-occurrence {
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  flex-shrink: 0;
  width: 50%;
}

.main-loading-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .main-loading-container {
    height: 450px;
  }
}

.search-button {
  background-color: #b314e3;
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  border-radius: 2px;
  padding: 6px 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-button:hover {
  background-color: #7c0d9e;
}
