.word-item {
  display: flex;
}

.word-info {
  font-family: Roboto;
  text-align: center;
  width: 50%;
  height: 50px;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
